<div class="container">
    <div class="wrapper">
        <h2 class="balance">Saldo</h2>
        <img src="../../../../assets/icone-olho.svg" 
            (click)="changeBalanceView()" 
            class="show_balance_button"
            width="25"
        />
    </div>
    <div class="divisor"></div>
    <p class="conta">Conta corrente</p>
    <p class="valor">
        <span class="currency">R$</span>
        <span *ngIf="show; else dots" class="balance_value">{{ balance }}</span>
        <ng-template #dots>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </ng-template>
    </p>
</div>
